test_resources/schema5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ex="http://example.org/test-schema-5"
           xmlns="http://example.org/test-schema-5"
           targetNamespace="http://example.org/test-schema-5"
           elementFormDefault="unqualified">
  <xs:element name="top" type="ex:topType" />

  <xs:complexType name="topType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="10">
        <xs:element name="stringer" type="xs:string" />
        <xs:element name="nummer" type="xs:integer" />
      </xs:choice>
      <xs:element name="someMore" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
